.ToolbarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.ToolbarDocTitle {
  flex-grow: 1;
  text-align: center;
  padding-right: 8px;
  margin: 0 !important;
}
