.DataLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DataMarginBottom {
  margin-bottom: 22px;
}

/* up to md */
@media screen and (max-width: 768px) {
  .DataLabel {
    margin-bottom: 6px;
  }
}
